.NavBar {
  text-align: center;
}

.NavBar-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.NavBar-title {
  font-size: 1.5em;
  float: left;
}

.NavBar-dropdown {
  font-size: 1.5em;
  float: right;
}
